[user]
    name = imwilsonxu
    email = im.wilson.xu@gmail.com
[credential]
	helper = osxkeychain
[core]
    editor = vim
    autocrlf = false
    # http://stackoverflow.com/questions/1580596/how-do-i-make-git-ignore-mode-changes-chmod
	filemode = false
    excludesfile = ~/.dotfiles/.gitignore_global
[merge]
    tool = vimdiff
[color]
    ui = auto
    status = auto
    branch = auto
[alias]
    pl = pull
    ps = push
    cl = clone
    co = checkout
    st = status
    ci = commit
    di = diff
    br = branch
    unstage = reset HEAD
    us = reset HEAD
    unmodify = checkout --
    um = checkout --
    last = log -1 HEAD
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    lgp = log -p
    it = !git init && git add . && git commit -m \"initial commit\"
    todo = !git grep --color=always --no-index --exclude-standard --heading --break --ignore-case -e ' FIX: *' -e ' TODO: *' | sed -e 's/^[[:space:]]*//'
# http://sip-router.org/wiki/git/gitconfig
#[branch "master"]
    #mergeoptions = --no-commit --no-ff
[credential]
	helper = cache
[push]
	default = current
